            <section id='about'>
                <div class='row'>
                    <div class='col-md-5 gx-4 mb-4'>
                        <h3><strong>ITEMS LIST</strong></h4>            
                        <br>
                            <ul class='text-muted'>
                                <li>Gift Ideas</li>
                                <li>Recipients</li>
                                <li>Purchases/Gifts Completed</li>
                            </ul>
                            <p class='text-muted'>
                            Sign up for a <strong>FREE</strong> account today!</p>
                    
                    </div>

                    <div class='col-md-7 gx-5'>
                    <figure class='figure-image'>
                    <img src='images/debby-hudson-VO7p_CgTylQ-unsplash.jpg' alt='Photo by Debby Hudson on Unsplash' class='img-fluid rounded mb-3'/>
                    <a href='#!'></a>
                    </figure>
                    </div>

                </div>
            </section>